.aboutUsVideo{
  margin: auto;
  font-family: Header;
  font-size: 3vw;
  z-index: 900;
  text-align: center;
}
.aboutUsVideo video{
  width: 75%;
  box-shadow: 5px 2px 2px rgba(98, 155, 123, .9);
  margin: 0 auto;
}
.aboutUsText{
  margin: auto;
  text-align: center;
  width: 50vw;
  z-index: 900;
}

.aboutUs{
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  overflow: hidden;
}
.aboutUs{
  flex: 1 100%;
}

/*MODULE SLIDE IN*/
@keyframes come-in {
  to { transform: translateX(62vw); }
}
@keyframes leave {
  to { transform: translateX(-62vw)}
}
@keyframes come-in-two {
  to { transform: translateX(59vw); }
}
@keyframes leavetwo {
  to { transform: translateX(-70vw)}
}
@keyframes come-in-three {
  to { transform: translateX(4vw); }
}
@keyframes leave-three{
  to { transform: translateX(-70vw)}
}
.aboutmodule{
  width: 30vw;
  height: 40vh;
  z-index: 400;
  background-image: url('../assets/air.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*background: grey;*/
  visibility: hidden;
  position: absolute;
  opacity: .6;
  margin:51vh auto;
}
.aboutmodule3{
  width: 50vw;
  height: 40vh;
  z-index: 200;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background:  rgb(67,67,65);
  visibility: hidden;
  position: absolute;
  opacity: .6;
  margin:51vh auto;
}
.aboutmodule2{
  width: 70vw;
  height: 70vh;
  z-index: 300;
  background: rgba(98, 155, 123, 1);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
  opacity: .8;
  margin: 10vh auto;
}
.come-in-about{
  visibility: visible;
  transform: translateX(100vw);
  animation: come-in 4s ease forwards;
}
.leave-about{
  transform: translateX(0vw);
  animation: leave 1s ease backwards;
}
.come-in-about2{
  visibility: visible;
  transform: translateX(100vw);
  animation: come-in-two 5s ease forwards;
}
.leave-about2{
  transform: translateX(0vw);
  animation: leavetwo 1s ease backwards;
}
.come-in-about3{
  visibility: visible;
  transform: translateX(-100vw);
  animation: come-in-three 5s ease forwards;
}
.leave-about3{
  transform: translateX(0vw);
  animation: leave-three 1s ease backwards;
}